@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    As a 3rd year Honors student at Ohio University, I can confidently say that I have grown exponentially and have developed a passion for people, analytics, technology, and marketing.
    Those interests are reflected in my triple major in Management Information Systems, Business Analytics, and Marketing. 
    As a professional, I strive to always be adaptable, people-oriented, and always ready to learn more, and I will continue to grow those skills through the remainder of my college experience.

</p>
