@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    55 Mill Street<br />
    Athens, OH 45701<br />
</address>

<address>
    <strong>Phone:</strong> 216.970.1430<br />
    <strong>Email:</strong> <a href="mailto:kt453316@ohio.edu">kt453316@ohio.edu</a>
</address>